*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    }
   header{
       width: 100%;
       height: 94px;
       background-color: black;
   }
       h1{
        width: 70px;
        height: 70px;
        background-image: url(../img/footerlogo.png);
        background-repeat: no repeat;
        background-size: 100%;
        text-indent: -9999990px;
        margin-left: 100px;
        /* margin-top: 50px; -არ ჩამოდის დაბლა*/ 
    }
    h1 a{
     display: block;
     width: 70px;
     height: 70px;     
    }
    
    
    header  ul a{
        padding: 5px 10px;
        margin-left: 338px 36px;
        color: #fff;
       font-size: 18px;
      
    }
  
   header ul li{
  float: left; 
 
         
   }
    
    
   
          
  
  .social{
      width: 50px;
      height:100px;
      position: fixed;
      top: 212px;
      right: 0;
  }
   .fb, .ins{
      width: 50px;
      height: 50px;
  }
.fb{
    background-image: url(../img/fb\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.ins{
    background-image: url(../img/instagram\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.fb a, .ins a{
display: block;
width: 100%;
height: 50px;
}
h2{
    padding: 126px 28px;
}
.box{
    width: 300px;
    height: 244px;
    width: 33.33%;
    margin: 126px;
    position: relative;
    overflow: hidden;
    /* border-color: #000;
    border-style: solid;
    float: left; */
}
.samitolinawili{
    border-color: #000;
    border-style: solid;
    float: left;
    
    margin-top: 50px;
    margin-left: 130px;
    position: relative;
      
}  
    .sound{
        background-image: url(../img/sound\ 3.png);   
        background-repeat: repeat-x;
        background-size: 25%;
        width: 104px;
        height: 104px;
        float: left;
    }
.text1{
    font-size: 18px;
    padding: 23px 23px;
}
.text2{
    font-size: 14px;
    padding: 23px 23px;
}

.like{
    
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}
.linki{
    font-size: 12px;
}
.linki a::after{
    content: "?";
}
footer{
    
    height: 354px;
    background-color: black;
    padding: 20px 220px;
}
.logo{
    margin: 0 auto;
    margin-bottom: 26px;
}
footer nav li a{
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 auto;

}
.upleba{
   
    font-size: 18px;
    color: #fff;
    /* margin: 0  auto ; */
    margin-top: 50px;
    
}